<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title if title else "Student Peer Review App" }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        
        {% block extra_css %}{% endblock %}
    </head>
    <body>
        

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            <p>  © {{ current_year }} Multimedia University | Peer Review System</p>
        </footer>
    </body>
</html>
