<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register - Peer Review App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="login-container">
      <img src="{{ url_for('static', filename='uni_logo-removebg-preview.png') }}" alt="University Logo" class="logo">
       <h2>Create an Account</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <p class="flash {{ category }}">{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <form method="POST">
            <input type="text" id="student_id" name="student_id" placeholder="Enter your MMU student id." required><br>
            <input type="text" name="first_name" placeholder="Enter your First Name" required><br>
            <input type="text" name="last_name" placeholder="Enter your Last Name" required><br>
            <input type="text" name="username" placeholder="Create a Username" required><br>
            <input type="password" name="password" placeholder="Create a Password" required><br>
            <input type="email" name="email" placeholder="Enter your MMU email address" required><br>
            <select name="role">
              <option value="student">Student</option>
              <option value="lecturer">Lecturer</option>
              <option value="admin">Admin</option>
            </select>
            
            <button type="submit">Register</button>
        </form>

        
          

        <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
    </div>
</body>
</html>