{% extends "base.html" %}
{% block title %}View Groups - {{ subject.name }}{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='view_groups.css') }}">
{% endblock %}


{% block content %}
<h2>Peer Review Results for {{ subject.name }}</h2>

{% for group in groups %}
  <div class="group-card">
    <h3>{{ group.name }}</h3>
    {% if peer_reviews[group.id] %}
      <ul>
        {% for review in peer_reviews[group.id] %}
          <li>
            Reviewer: {{ review.reviewer_name }}<br>
            Score: {{ review.score }}<br>
            Comments: {{ review.comments }}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No peer reviews submitted yet.</p>
    {% endif %}
  </div>
{% endfor %}
{% endblock %}
